# Environment variable files
.env
.env.*

# Keep example/template files in the repository
!.env.example
!.env.sample

# Dependencies (This is the important one)
node_modules/

# Build folders
bin/
obj/
dist/
build/